{% extends "base.html" %} {% block body %}

        <h5>{{item.name}}</h5>
        <p>{{item.description}}</p>
        <div style="text-align: end;">
        {% if 'username' in login_session and iscreator %}
        <a href="{{url_for( 'itemcatalog.delete_item', item_name=item.name)}}"
        class="btn-floating btn-large waves-effect waves-light red "><i class="material-icons">delete</i></a>
        <a href="{{url_for( 'itemcatalog.edit_item', item_name=item.name)}}"
        class="btn-floating btn-large waves-effect waves-light red "><i class="material-icons">edit</i></a>
        {% endif %}
        </div>

{% endblock %}