{% extends "base.html" %} {% block body %}
    <div class="col s9">

        <form method="post" action="{{ url_for('edit_item', item_name=item.name) }}">
            <!-- Teal page content  -->
            <div class="section">
                <h5><i class="material-icons">edit</i> Edit Item</h5>

                <div class="row">
                    <div class="input-field col s6">
                        {#                Item Title#}
                        <input value="{{ item.name }}" name="title" type="text" class="validate">
                        <label class="active" for="title">Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {#                Item Description#}
                        <input value="{{ item.description }}" name="description" type="text" class="validate">
                        <label class="active" for="description">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select name="category_id">
                            <!--<option value="" disabled selected>Choose your option</option>-->
                            {% for cat in categories %}
                                <option value="{{ cat.id }}">{{ cat.name }}</option>
                            {% endfor %}
                        </select>
                        <label>Materialize Select</label>
                    </div>

                </div>
                <input type="submit" class="waves-effect waves-light btn" value="Update">

            </div>
        </form>
    </div>

{% endblock %}